<div class="row">
  <div class="centerAndFitwidth">选出第一印象</div>
</div>
<div class="row">
  <div class="col-md-5">
    <div class="centerAndFitwidth">
      正方:{{debateInfo.positivePoint}}
    </div>
  </div>

  <div class="col-md-2">
    <div class="centerAndFitwidth">
      <app-count-down #countdown [time]="time" ></app-count-down>
    </div>
    <div>
      <button (click)="countdown.begin()">开始</button>
    </div>
    <div>
      <button (click)="countdown.pause()">暂停</button>
    </div>
    <div>
      <button (click)="countdown.reset(30)">重启</button>
    </div>
    <div>
      <button (click)="next()">下一环节</button>
    </div>
  </div>

  <div class="col-md-5">
    <div class="centerAndFitwidth">
      反方:{{debateInfo.negativePoint}}
    </div>
  </div>
</div>
